/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
*/
body {
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    margin-bottom: 30px;
}

.box{
    background-color: rgb(0, 117, 226);
    color: white;
    border: 1px solid white;
    height: 30px;
    text-align: center;
    padding-top: 5px;
}

.box-2{
    background-color: rgb(0, 117, 226);
    color: white;
    border: 1px solid white;
    height: 60px;
    text-align: center;
    padding-top: 5px;
}


.box-green{
    background-color: rgb(40, 204, 18);
    color: white;
    border: 1px solid rgb(250, 246, 10);
    height: 40px;
    text-align: center;
    padding-top: 5px;
    font-size: 12px;
}